.nav-pills li a:hover,
.nav-pills li a:hover .text-black {
    background-color: black;
    color: white !important; /* Added !important to ensure it overrides any other styles */
}

.profile-menu:hover{
    background-color: black;
    color: white;
    font-style: italic;
}